<%= template 'templates/header.html', :title => 'Download' %>

<% markdown do %>

# Sources
All sources of the optimization framework are made available under the GPLv2 and LGPLv2 licenses. The
released sources are available for download at <https://download.codyn.net/optimization>.

# Development
Development of the optimization software is done through the use of  [git](https://git-scm.com/)
. All software can be easily accessed through git and can be browsed online at
[https://www.github.com/codyn-net/](https://www.github.com/codyn-net/). More information on cloning the repositories can
be found there.

# Packages
Pre-built binary packages are available for Ubuntu only at the moment. codyn.net provides an Ubuntu
repository for both 32 and 64 bits Ubuntu precise.
The repository is located at <https://packages.codyn.net/ubuntu/>. For more
information on configuring the repository and installing the packages, please
see: <https://packages.codyn.net/ubuntu/README>. After the repository is configured,
the following packages can be installed:

## Libraries
1. **liboptimization2**: a C++ library providing useful classes for communication in the optimization framework
2. **liboptimization2-sharp**: a C# library providing a base for the implementation of optimization algorithms in the framework
3. **liboptimizers2-sharp**: a C# library using liboptimization2-sharp which implements a variety of optimization algorithhms

## Core applications
1. **optiworker**: the worker daemon which is responsible for dispatching tasks
2. **optimaster**: the master daemon which is responsible for distributing tasks to available workers
3. **optirunner**: the client application which runs the optimization algorithm and sends tasks to the master
4. **optiextractor**: a GUI application to view optimization results
5. **opticommand**: a simple command line application to query the master for information

## Dispatchers
1. **liboptimization2-dispatchers-blender**: a dispatcher for blender
2. **liboptimization2-dispatchers-external**: a dispatcher running an external program
3. **liboptimization2-dispatchers-matlab**: a dispatcher for running tasks in matlab
4. **liboptimization2-dispatchers-webots**: a dispatcher for webots

<% end %>

<%= template 'templates/footer.html' %>

